@import "./_nord.css";

html:not(.dark) {
  --slidev-theme-primary: var(--nord5);
  --slidev-code-background: var(--nord3);

  --text-color-0: var(--nord3);
  --subtitles-background-color: var(--nord0);
}

html.dark {
  --slidev-theme-primary: var(--nord3);
  --slidev-code-background: var(--nord5);

  --text-color-0: var(--nord5);
  --subtitles-background-color: var(--nord4);
}

html {
  #slide-content,#print-content {
    color: var(--text-color-0);
    background-color: var(--slidev-theme-primary);
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-4xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2,
  ul + h2,
  table + h2 {
    @apply mt-10;
  }
}

.slidev-layout.mermaid-left {
  .col-left {
    @apply  mr-8;
  }
}

.slidev-subtitles {
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: var(--subtitles-background-color);
  width: 100%;
  height: 96px;
  padding-left: 8px;

  .content {
    font-family: "Kosugi Maru", sans-serif;
    color: var(--slidev-theme-primary);
    font-size: 36px;
    line-height: 48px;
  }
}