@import "./_nord.css";

html:not(.dark) {
  #slide-content {
    color: var(--nord0);
    background-color: var(--nord4);
  }
}

html.dark {
  #slide-content {
    color: var(--nord4);
    background-color: var(--nord0);
  }
}
